<div class="form-container">
    <mat-form-field appearance="standard">
        <mat-label style="color: black;">Input City Name</mat-label>
        <input matInput [(ngModel)]="city">
    </mat-form-field>
    <br>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]='units'>
        <mat-button-toggle *ngFor="let item of unit" value="{{item}}">{{item}}</mat-button-toggle>
    </mat-button-toggle-group>
    <br>
    <br>
    <button mat-raised-button (click)="SendReq()">Check</button>

</div>


<div class="content-container" *ngIf="showContent">
    <div class="temp-box">
        <h3>{{dataMap.name}}</h3>
        <h1>{{dataMap.main.temp}} {{dataMap.unit}}</h1>
        <h3>Feel like {{dataMap.main.temp}}</h3>
        <h5>min: {{dataMap.main.temp_min}} max : {{dataMap.main.temp_max}}</h5>
    </div>
</div>